<div class="animated fadeIn ">
    <div *ngIf="errorMessage">
        <alert type="danger">
            <strong>{{message}}</strong>
        </alert>
    </div>
    <div *ngIf="successMessage">
        <br>
        <alert type="success">
            <strong>{{message}}</strong>
        </alert>
    </div>

    <br />

    <div class="row ">
        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong style="color: rgba(27, 17, 168, 0.582);">البيانات الاساسية للطلب</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleRequestDataCollapse()"><i class={{iconRequestDataCollapse}}></i></button>
                    </div>
                </div>

                <div (collapsed)="requestDataCollapsed($event)" (expanded)="requestDataExpanded($event)"
                    [collapse]="isRequestDataCollapsed" class="card-body ">

                    <div class="form-group row">
                        <label class=" col-md-2 col-form-label font-weight-bold" for="citizenName">اسم
                            المواطن</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="citizen.name" #citizenName="ngModel" type="text"
                                name="citizenName" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="nationalId">الرقم
                            القومي</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="citizen.nationalId" #nationalId="ngModel"
                                type="number" name="nationalId" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestId">رقم الطلب</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.id" #requestId="ngModel" type="number"
                                name="requestId" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="createdBy">تسجيل بواسطة</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.createdBy" #createdBy="ngModel"
                                type="text" name="createdBy" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestDate"> تاريخ
                            التسجيل</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.requestDate" #createdDate="ngModel"
                                type="text" name="requestDate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestType">نوع الطلب</label>
                        <div class="col-md-5">
                            <select name="requestType" class="form-control" [(ngModel)]="selectedRequestTypeId"
                                #requestType="ngModel">
                                <option *ngFor="let requestType of requestTypes" [value]="requestType.id">
                                    {{requestType.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="custom">الجمرك</label>
                        <div class="col-md-5">
                            <select name="custom" class="form-control" [(ngModel)]="selectedCustomId" #custom="ngModel">
                                <option *ngFor="let custom of customs" [value]="custom.id">{{custom.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="trafficManagement">ادارة
                            المرور</label>
                        <div class="col-md-5">
                            <select name="trafficManagement" class="form-control"
                                [(ngModel)]="selectedTrafficManagementId" #trafficManagement="ngModel">
                                <option *ngFor="let trafficManagement of trafficManagements"
                                    [value]="trafficManagement.id">{{trafficManagement.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestState">حالة الطلب</label>
                        <div class="col-md-5">
                            <input  [(ngModel)]="request.state" #requestState="ngModel"
                                type="text" name="requestState" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeRevealState">حالة كشف
                            الرمد</label>
                        <div class="col-md-5">
                            <input  [(ngModel)]="request.eyeRevealState" #eyeRevealState="ngModel"
                                type="text" name="eyeRevealState" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesRevealState">حالة كشف
                            العظام</label>
                        <div class="col-md-5">
                            <input  [(ngModel)]="request.bonesRevealState"
                                #bonesRevealState="ngModel" type="text" name="bonesRevealState" class="form-control">
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestStatus">نتيجة
                            الطلب</label>
                        <div class="col-md-5">
                            <select name="requestStatus" class="form-control" [(ngModel)]="selectedRequestStatusId"
                                #requestStatus="ngModel">
                                <option *ngFor="let status of requestStatuses" [value]="status.id">{{status.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="description">ملاحظات</label>
                        <div class="col-md-5">
                            <textarea [(ngModel)]="request.description" #description="ngModel" type="text"
                                name="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngIf="requestDataErrorMessage != '' ">
                            <alert type="danger">{{requestDataErrorMessage}}</alert>
                        </div>
                        <div *ngIf="requestDataSuccessMessage!= '' ">
                            <alert type="success"> {{requestDataSuccessMessage}} </alert>
                        </div>
                        <button (click)="onSaveRequestData()" class="btn btn-sm btn-primary"><i
                                class="fa fa-dot-circle-o"></i> حفظ</button>
                    </div>
                </div>

                <!-- </form> -->
            </div>
        </div>
    </div>



    <div style="width:100% !important;">
        <div class="card">
            <div class="card-header">
                <strong style="color: rgba(27, 17, 168, 0.582)">المدفوعات</strong>
                <div class="card-header-actions">
                    <button type="button" class="card-header-action btn btn-link btn-minimize"
                        (click)="togglePaymentDataCollapse()"><i class={{iconPaymentDataCollapse}}></i></button>
                </div>
            </div>
            <div (collapsed)="paymentDataCollapsed($event)" (expanded)="paymentDataExpanded($event)"
                [collapse]="isPaymentDataCollapsed" class="card-body ">
                <div *ngIf="payment != null">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="price">سعر الطلب</label>

                        <div class="col-md-5">
                            <input [(ngModel)]="payment.price" #price="ngModel" type="number" name="price"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="receiptSerialNumber">رقم
                            الايصال</label>
                        <div class="col-md-5">
                            <input [(ngModel)]="payment.receiptSerialNumber" #receiptSerialNumber="ngModel" type="text"
                                name="receiptSerialNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="paymentDone">تم الدفع</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="payment.paymentDone" [checked]="paymentDoneCheck"
                                (change)="onPaymentDoneChecked($event)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="paymentDate">تاريخ الدفع</label>
                        <div class="col-md-5">
                            <input [(ngModel)]="payment.paymentDate" #birthDate="ngModel" class="form-control"
                                type="date" name="birthDate" style="text-align: right">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngIf="paymentErrorMessage != '' ">
                            <alert type="danger">{{paymentErrorMessage}}</alert>
                        </div>
                        <div *ngIf="paymentSuccessMessage!= '' ">
                            <alert type="success"> {{paymentSuccessMessage}} </alert>
                        </div>
                        <button (click)="onSavePayment()" class="btn btn-sm btn-primary"><i
                                class="fa fa-dot-circle-o"></i> حفظ</button>
                    </div>
                </div>
                <div *ngIf="payment == null">
                    <p style="color: crimson"> لم يتم تسجيل مدفوعات لهذا الطلب</p>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <div style="width:100% !important;">
        <div class="card">
            <div class="card-header">
                <strong style="color: rgba(27, 17, 168, 0.582)">كشف الرمد</strong>
                <div class="card-header-actions">
                    <button type="button" class="card-header-action btn btn-link btn-minimize"
                        (click)="toggleEyeRevealDataCollapse()"><i class={{iconEyeRevealDataCollapse}}></i></button>
                </div>
            </div>
            <div (collapsed)="eyeRevealDataCollapsed($event)" (expanded)="eyeRevealDataExpanded($event)"
                [collapse]="isEyeRevealDataCollapsed" class="card-body ">
                <!-- <form class="form-horizontal" #eyeForm="ngForm" (ngSubmit)="f.form.valid && onSave()" novalidate> -->
                <div *ngIf="eyeReveal != null">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeDate">تاريخ
                            اللجنة</label>
                        <div *ngIf="request.eyeCommittee != null " class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.eyeCommittee.date" type="text"
                                name="eyeCommitteeDate" class="form-control">
                        </div>
                        <div *ngIf="request.eyeCommittee == null " class="col-md-5">
                            <input [attr.disabled]="true" value="" type="text" name="eyeCommitteeDate"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="rightMeasure">قياس العين
                            اليمني</label>
                        <div class="col-md-5">
                            <select [(ngModel)]="selectedRightEyeMeasureId" name="rightMeasure" class="form-control">
                                <option *ngFor="let m of measures" [ngValue]="m.id">{{m.title}}</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="leftMeasure">قياس العين
                            اليسري</label>
                        <div class="col-md-5">
                            <select [(ngModel)]="selectedLeftEyeMeasureId" name="leftMeasure" class="form-control">
                                <option *ngFor="let m of measures" [ngValue]="m.id">{{m.title}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="distinguish">التمييز</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="distinguish" [checked]="distinguishCheck"
                                (change)="onDistinguishChecked($event)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="squint">حول</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="squint" [checked]="squintCheck"
                                (change)="onSquintChecked($event)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="glasses">النظارة</label>
                        <div class="col-md-5">
                            <input type="checkbox" name="glasses" [checked]="glassesCheck"
                                (change)="onGlassesChecked($event)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeRevealResult">النتيجة</label>
                        <div class="col-md-5">
                            <select [(ngModel)]="eyeReveal.result" name="eyeRevealResult" #eyeRevealResult="ngModel"
                                class="form-control">
                                <option value="مقبول">مقبول</option>
                                <option value="مرفوض">مرفوض</option>
                                <option value="اعادة مناظرة">اعادة مناظرة</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="description">ملاحظات</label>
                        <div class="col-md-5">
                            <input maxlength="150" [(ngModel)]="eyeReveal.description" #description="ngModel"
                                type="text" name="description" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngIf="eyeRevealErrorMessage != '' ">
                            <alert type="danger">{{eyeRevealErrorMessage}}</alert>
                        </div>
                        <div *ngIf="eyeRevealSuccessMessage!= '' ">
                            <alert type="success"> {{eyeRevealSuccessMessage}} </alert>
                        </div>
                        <button (click)="onSaveEyeReveal()" class="btn btn-sm btn-primary"><i
                                class="fa fa-dot-circle-o"></i> حفظ</button>
                    </div>
                </div>
                <div *ngIf="eyeReveal == null">
                    <p style="color: crimson"> لم يتم تسجيل كشف رمد لهذا الطلب</p>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <div  style="width:100% !important;">
        <div class="card">
            <div class="card-header">
                <strong style="color: rgba(27, 17, 168, 0.582)">كشف العظام</strong>
                <div class="card-header-actions">
                    <button type="button" class="card-header-action btn btn-link btn-minimize"
                        (click)="toggleBonesRevealDataCollapse()"><i class={{iconBonesRevealDataCollapse}}></i></button>
                </div>
            </div>
            
            <div (collapsed)="bonesRevealDataCollapsed($event)" (expanded)="bonesRevealDataExpanded($event)"
                [collapse]="isBonesRevealDataCollapsed" class="card-body ">
                <!-- <form class="form-horizontal" #bonesForm="ngForm" (ngSubmit)="f.form.valid && onSave()" novalidate> -->
                <div *ngIf="bonesReveal != null">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeDate"> تاريخ
                            اللجنة</label>
                        <div *ngIf="request.bonesCommittee != null" class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.bonesCommittee.date" type="text"
                                name="bonesCommitteeDate" class="form-control">
                        </div>
                        <div *ngIf="request.bonesCommittee == null" class="col-md-5">
                            <input [attr.disabled]="true" value="" type="text" name="bonesCommitteeDate"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="disabilityType">نوع
                            الاعاقة</label>
                        <div class="col-md-5">
                            <select name="committee" class="form-control" [(ngModel)]="selectedDisabilityTypeId">
                                <option *ngFor="let disability of disabilities" [value]="disability.id">
                                    {{disability.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="equipmentType">نوع
                            المعده</label>
                        <div class="col-md-5">
                            <select name="committee" class="form-control" [(ngModel)]="selectedEquipmentTypeId">
                                <option *ngFor="let equipment of equipments" [value]="equipment.id">
                                    {{equipment.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesRevealResult">النتيجة</label>
                        <div class="col-md-5">
                            <select [(ngModel)]="bonesReveal.result" name="bonesRevealResult" class="form-control">
                                <option value="مقبول">مقبول</option>
                                <option value="مرفوض">مرفوض</option>
                                <option value="اعادة مناظرة">اعادة مناظرة</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="description">ملاحظات</label>
                        <div class="col-md-5">
                            <input [(ngModel)]="bonesReveal.description" #description="ngModel" type="text"
                                name="description" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngIf="bonesRevealErrorMessage != '' ">
                            <alert type="danger">{{bonesRevealErrorMessage}}</alert>
                        </div>
                        <div *ngIf="bonesRevealSuccessMessage!= '' ">
                            <alert type="success"> {{bonesRevealSuccessMessage}} </alert>
                        </div>
                        <button (click)="onSaveBonesReveal()" class="btn btn-sm btn-primary"><i
                                class="fa fa-dot-circle-o"></i> حفظ</button>
                    </div>
                </div>
                <div *ngIf="bonesReveal == null">
                    <p style="color: crimson"> لم يتم تسجيل كشف عظام لهذا الطلب</p>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <div style="width:100% !important;">
        <div class="card">
            <div class="card-header">
                <strong style="color: rgba(27, 17, 168, 0.582)">الاوراق</strong>
                <div class="card-header-actions">
                    <button type="button" class="card-header-action btn btn-link btn-minimize"
                        (click)="toggleFileUploadDataCollapse()"><i class={{iconFileUploadDataCollapse}}></i></button>
                </div>
            </div>
            <div (collapsed)="fileUploadDataCollapsed($event)" (expanded)="fileUploadDataExpanded($event)"
                [collapse]="isFileUploadDataCollapsed" class="card-body ">
                <div>
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">الملفات</th>
                                <th class="text-center">تصنيف</th>
                                <th class="text-center">تحميل</th>
                                <th class="text-center">حذف</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let requestDocument of requestDocuments ; let i=index">
                                <td class="text-center">
                                    <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i>
                                    <b>{{requestDocument.name}}</b>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i>
                                    <b>{{requestDocument.documentType.category}}</b>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="delete-btn btn btn-success"
                                        (click)="getFile(requestDocument.name)">تحميل
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="delete-btn btn btn-danger"
                                        (click)="deleteFile(requestDocument.name)">حذف
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="uploading" class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                        attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{width:progress.percentage+'%'}">
                        {{progress.percentage}}%</div>
                </div>
                <br><br><br>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" for="documentType">نوع الملف</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="selectedDocumentTypeId" name="documentType" class="form-control">
                            <option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                                {{documentType.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-md-2 col-form-label" for="file-input">
                        <input type="file" accept="application/pdf" id="file-input" name="file-input"
                            (change)="selectFile($event)">
                    </label>
                </div>
                <div *ngIf="fileUploadErrorMessage">
                    <alert type="danger">
                        <strong>{{fileUploadErrorMessage}}</strong>
                    </alert>
                </div>
                <div class="card-footer">
                    <button class="col-md-2 col-form-label" class="btn btn-success" [disabled]="!selectedFiles"
                        (click)="upload()">رفع</button>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>