<div class="animated fadeIn ">

    <div *ngIf="errorMessage">
        <alert type="danger">
            <strong>{{message}}</strong>
        </alert>
    </div>
    <div *ngIf="successMessage">
        <br>
        <alert type="success">
            <strong>{{message}}</strong>
        </alert>
    </div>

    <br />

    <div class="row ">

        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong style="color: rgba(27, 17, 168, 0.582);">البيانات الاساسية للطلب</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleRequestDataCollapse()"><i class={{iconRequestDataCollapse}}></i></button>
                    </div>
                </div>

                <div (collapsed)="requestDataCollapsed($event)" (expanded)="requestDataExpanded($event)"
                    [collapse]="isRequestDataCollapsed" class="card-body ">
                    <!-- <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && onSave()" novalidate> -->
                    <div class="form-group row">
                        <label class=" col-md-2 col-form-label font-weight-bold" for="citizenName">اسم المواطن</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="citizen.name" #citizenName="ngModel" type="text"
                                name="citizenName" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="nationalId">الرقم القومي</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="citizen.nationalId" #nationalId="ngModel"
                                type="number" name="nationalId" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="requestId">رقم الطلب</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="request.id" #requestId="ngModel" type="number"
                                name="requestId" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="type">نوع الطلب</label>
                        <div class="col-md-5">
                            <input [attr.disabled]="true" [(ngModel)]="requestType.name" #type="ngModel" type="text"
                                name="type" class="form-control">
                        </div>
                    </div>

                    <!-- <div class="card-footer">
                                    <div *ngIf="requestDataErrorMessage != '' ">
                                        <alert type="danger">{{requestDataErrorMessage}}</alert>
                                    </div>
                                    <div *ngIf="requestDataSuccessMessage!= '' ">
                                        <alert type="success"> {{requestDataSuccessMessage}} </alert>
                                    </div>
                                    <button (click)="onSaveRequestData()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> حفظ</button>
                                </div> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong style="color: rgba(27, 17, 168, 0.582)">الاوراق</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleFileUploadDataCollapse()"><i
                                class={{iconFileUploadDataCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="fileUploadDataCollapsed($event)" (expanded)="fileUploadDataExpanded($event)"
                    [collapse]="isFileUploadDataCollapsed" class="card-body ">
                    <div>
                        <table class="table table-responsive-sm table-hover table-outline mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">الملف</th>
                                    <th class="text-center">تحميل</th>
                                    <!-- <th class="text-center">حذف</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let requestDocument of requestDocuments ; let i=index">
                                    <td class="text-center">
                                        <i *ngIf="requestDocument.name.endsWith('.png')" class="fa fa-file-image-o" style="font-size:18px;color:red"></i>
                                        <i *ngIf="requestDocument.name.endsWith('.pdf')" class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i>
                                        <b> &#160; {{requestDocument.name}} &#160;</b>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="delete-btn btn btn-success"
                                            (click)="getFile(requestDocument.name)">تحميل
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    <!-- <td class="text-center">
                                        <button type="button" class="delete-btn btn btn-danger"
                                            (click)="deleteFile(requestDocument.name)">حذف
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="uploading" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%</div>
                    </div>
                    <br><br><br>
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label font-weight-bold" for="documentType">نوع الملف <b
                                style="color: red">*</b></label>
                        <div class="col-md-3">
                            <select [(ngModel)]="selectedDocumentTypeId" name="documentType" class="form-control">
                                <option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                                    {{documentType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-md-2 col-form-label" for="file-input">
                            <input type="file" accept="*" id="file-input" name="file-input"
                                (change)="selectFile($event)">
                        </label>
                    </div>
                    <div *ngIf="fileUploadErrorMessage">
                        <alert type="danger">
                            <strong>{{fileUploadErrorMessage}}</strong>
                        </alert>
                    </div>
                    <div class="card-footer">
                        <button class="col-md-2 col-form-label" class="btn btn-success" [disabled]="!selectedFiles"
                            (click)="upload()">رفع</button>
                    </div>

                </div>
            </div>
        </div>
        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong style="color: rgba(27, 17, 168, 0.582)">تحديد لجان الكشف الطبي</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleMedicalRevealDataCollapse()"><i
                                class={{iconMedicalRevealDataCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="medicalRevealDataCollapsed($event)" (expanded)="medicalRevealDataExpanded($event)"
                    [collapse]="isMedicalRevealDataCollapsed" class="card-body ">
                    <!-- <form class="form-horizontal" #eyeForm="ngForm" (ngSubmit)="f.form.valid && onSave()" novalidate> -->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommittee"> لجنة الرمد </label>
                        <div class="col-md-5">
                            <select name="eyeCommittee" class="form-control" [(ngModel)]="selectedEyeCommitteeId"
                                #committee1="ngModel" (change)="onEyeCommitteeChanged(committee1.value)">
                                <option></option>
                                <option *ngFor="let c of eyeCommittees" [ngValue]="c.id">{{c.type}} | {{c.function}} |
                                    {{c.date}}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="eyeCommittee.type != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeType"> نوع
                            اللجنة</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.type" type="text"
                                name="eyeCommitteeType" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.function != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeFunction"> وظيفة
                            اللجنة</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.function" type="text"
                                name="eyeCommitteeFunction" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="eyeCommittee.date != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeDate"> تاريخ
                            اللجنة</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.date" type="text"
                                name="eyeCommitteeDate" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.memberOne != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberOne"> العضو
                            الاول</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberOne.name" type="text"
                                name="eyeCommitteeMemberOne" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.memberTwo != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberTwo"> العضو
                            الثاني</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberTwo.name" type="text"
                                name="eyeCommitteeMemberTwo" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.memberThree != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberThree"> العضو
                            الثالث</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberThree.name" type="text"
                                name="eyeCommitteeMemberThree" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="eyeCommittee.memberFour != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberFour"> العضو
                            الرابع</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberFour.name" type="text"
                                name="eyeCommitteeMemberFour" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.memberFive != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberFive"> العضو
                            الخامس</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberFive.name" type="text"
                                name="eyeCommitteeMemberFive" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="eyeCommittee.memberSix != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="eyeCommitteeMemberSix"> العضو
                            السادس</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="eyeCommittee.memberSix.name" type="text"
                                name="eyeCommitteeMemberSix" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommittee">لجنة العظام</label>
                        <div class="col-md-5">
                            <select name="bonesCommittee" class="form-control" [(ngModel)]="selectedBonesCommitteeId"
                                #committee2="ngModel" (change)="onBonesCommitteeChanged(committee2.value)">
                                <option></option>
                                <option *ngFor="let committee of bonesCommittees" [value]="committee.id">
                                    {{committee.type}} | {{committee.function}} | {{committee.date}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.function != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeFunction"> وظيفة
                            اللجنة</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.function" type="text"
                                name="bonesCommitteeFunction" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="bonesCommittee.date != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeDate"> تاريخ
                            اللجنة</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.date" type="text"
                                name="bonesCommitteeDate" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.memberOne != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberOne"> العضو
                            الاول</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberOne.name" type="text"
                                name="bonesCommitteeMemberOne" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.memberTwo != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberTwo"> العضو
                            الثاني</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberTwo.name" type="text"
                                name="bonesCommitteeMemberTwo" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.memberThree != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberThree"> العضو
                            الثالث</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberThree.name" type="text"
                                name="bonesCommitteeMemberThree" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="bonesCommittee.memberFour != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberFour"> العضو
                            الرابع</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberFour.name" type="text"
                                name="bonesCommitteeMemberFour" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.memberFive != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberFive"> العضو
                            الخامس</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberFive.name" type="text"
                                name="bonesCommitteeMemberFive" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="bonesCommittee.memberSix != null " class="form-group row">
                        <label class="col-md-2 col-form-label font-weight-bold" for="bonesCommitteeMemberSix"> العضو
                            السادس</label>
                        <div class="col-md-3">
                            <input [attr.disabled]="true" [(ngModel)]="bonesCommittee.memberSix.name" type="text"
                                name="bonesCommitteeMemberSix" class="form-control">
                        </div>
                    </div>

                    <div class="card-footer">
                        <div *ngIf="medicalRevealErrorMessage != '' ">
                            <alert type="danger">{{medicalRevealErrorMessage}}</alert>
                        </div>
                        <div *ngIf="medicalRevealSuccessMessage!= '' ">
                            <alert type="success"> {{medicalRevealSuccessMessage}} </alert>
                        </div>
                        <button (click)="onSaveMedicalReveal()" class="btn btn-sm btn-primary"><i
                                class="fa fa-dot-circle-o"></i> حفظ</button>
                        <button [disabled]="!printEnabled" (click)="print()" class="btn btn-sm btn-success"><i
                                class="fa fa-print"></i> طباعة الكشف</button>
                        <button [disabled]="!printEnabled" (click)="printReceivedDoocumentReceipts()" class="btn btn-sm btn-success"><i
                                class="fa fa-print"></i>طباعة نموذج استلام</button>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>

    </div>