<div class="animated fadeIn ">

    <div *ngIf="errorMessage">
        <alert type="danger">
            <strong>{{message}}</strong>
        </alert>
    </div>

    <div class="row ">
        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong style="color: rgba(27, 17, 168, 0.582)">المدفوعات</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="togglePaymentDataCollapse()"><i class={{iconPaymentDataCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="paymentDataCollapsed($event)" (expanded)="paymentDataExpanded($event)" [collapse]="isPaymentDataCollapsed" class="card-body ">
                    <!-- <form class="form-horizontal" #paymentForm="ngForm" (ngSubmit)="f.form.valid && onSave()" novalidate> -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label font-weight-bold" for="price">سعر الطلب</label>
                            <div class="col-md-5">
                                <input [(ngModel)]="payment.price" #price="ngModel" type="number" name="price" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label font-weight-bold" for="receiptSerialNumber">رقم الايصال</label>
                            <div class="col-md-5">
                                <input [(ngModel)]="payment.receiptSerialNumber" #receiptSerialNumber="ngModel" type="text" name="receiptSerialNumber" class="form-control">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-md-2 col-form-label font-weight-bold" for="paymentDone">تم الدفع</label>
                            <div class="col-md-5">
                                <input type="checkbox" name="payment.paymentDone" [checked]="paymentDoneCheck" (change)="onPaymentDoneChecked($event)" />
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label font-weight-bold" for="paymentDate">تاريخ الدفع</label>
                            <div class="col-md-5">
                                <input [(ngModel)]="payment.paymentDate" #birthDate="ngModel" class="form-control" type="date" name="birthDate" style="text-align: right">
                            </div>
                        </div>
                        <div class="card-footer">
                                <div *ngIf="paymentErrorMessage != '' ">
                                    <alert type="danger">{{paymentErrorMessage}}</alert>
                                </div>
                                <div *ngIf="paymentSuccessMessage!= '' ">
                                        <alert type="success"> {{paymentSuccessMessage}} </alert>
                                </div>
                                <button (click)="onSavePayment()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>  حفظ</button>
                                <button class="btn btn-sm btn-danger" (click)="close()"><i class="fa fa-ban"></i> رجوع</button>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

