<div class="animated fadeIn ">

  <div *ngIf="successMessage">
    <br>
    <alert type="success">
      <strong>تم إضافه بيانات المواطن بنجاح! </strong>
    </alert>
  </div>
  <div *ngIf="! successMessage">
    <br>
  </div>
  <div class="row ">
    <div style="width:100% !important;">
      <div class="card">
        <div class="card-header">
          <strong>بيانات المواطن</strong>
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i
                class={{iconCollapse}}></i></button>
          </div>
        </div>

        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body ">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="text-input">الاسم </label>
              <div class="col-md-6">
                <input [formControl]="name" type="text" id="text-input" name="text-input" class="form-control" placeholder="الاسم بالكامل">
                <!-- <span class="help-block">ادخل الاسم</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="text-input">الرقم القومي</label>
              <div class="col-md-6">
                <input (input)="onNationalIdChange($event.target.value)" [formControl]="nationalId" type="text" id="text-input" name="text-input" class="form-control" placeholder="الرقم القومي">
                <!-- <span class="help-block">ادخل الاسم</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="email-input">العنوان</label>
              <div class="col-md-6">
                <input [formControl]="address" type="email" id="email-input" name="email-input" class="form-control" placeholder="العنوان بالتفصيل"
                  autocomplete="email">
                <!-- <span class="help-block">Please enter your email</span> -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="date-input">تاريخ الميلاد</label>
              <div class="col-md-6">
                <input class="form-control" id="date-input" type="date" name="date-input" value="2019-01-01" style = "text-align: right" placeholder="date">
                <!-- <span class="help-block">برجاء ادخال تاريخ الميلاد</span> -->
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-md-1 col-form-label" for="disabled-input">Disabled Input</label>
              <div class="col-md-6">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-1 col-form-label" for="textarea-input">Textarea</label>
              <div class="col-md-6">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="select1">المحافظه</label>
              <div class="col-md-6">
                      <select  [formControl]="governate" id="select1" name="select1" class="form-control" (change)="onGovernateChanged(governate.value)" >
                        <option *ngFor="let governate of governates" [value]="governate.name" [ngValue]="governate.name">{{governate.name}}</option>
                      </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="select1">المدينه</label>
              <div class="col-md-6">
                <select  [formControl]="city" id="select1" name="select1" class="form-control">

                    <option *ngFor="let city of cities" [value]="city.name" [ngValue]="city.name">{{city.name}}</option>

                  <!-- <option value="0">اختر مدينه</option>
                  <option value="اكتوبر">اكتوبر</option>
                  <option value="السلام">السلام</option>
                  <option value="حلوان">حلوان</option> -->
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="select1">المهنه</label>
              <div class="col-md-6">
                <select  [formControl]="occupation" id="select1" name="select1" class="form-control" >
                    <option *ngFor="let occupation of occupations" [value]="occupation.name" [ngValue]="occupation.name">{{occupation.name}}</option>
                  <!-- <option value="0">اختر مهنه</option>
                  <option value="مهندس">مهندس</option>
                  <option value="محامي">محامي</option>
                  <option value="محاسب">محاسب</option> -->
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label font-weight-bold" for="inline-radios">النوع</label>
              <div class="col-md-6 col-form-label">
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                  <input [formControl]="gender" class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="male">
                  <label class="form-check-label" for="inlineRadio1">ذكر </label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input [formControl]="gender" class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="female">
                  <label class="form-check-label" for="inlineRadio2"> أنثى </label>
                </div>

              </div>
            </div>


            <!-- <div class="form-group row">
              <label class="col-md-1 col-form-label" for="file-input">File input</label>
              <div class="col-md-6">
                <input type="file" id="file-input" name="file-input">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="file-multiple-input">Multiple File input</label>
              <div class="col-md-6">
                <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
              </div>
            </div> -->
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="addCitizen()"><i class="fa fa-dot-circle-o"></i>
            أضف المواطن</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> إلغاء</button>
        </div>
      </div>

    </div>

  </div>
  <!--/.row-->



</div>